body {
    background-image: url(https://cdn.pixabay.com/photo/2019/06/12/23/56/time-4270427_960_720.jpg);
    background-size: cover;
}

.box {
background-color: #abbaab;
opacity: 75%;
border-radius: 15px;
padding: 10px;
margin: 30px;
height: 800px;
}