body {
    background-image: url(https://cdn.pixabay.com/photo/2017/07/15/22/07/library-2507902_960_720.jpg);
    background-size: cover;
}

.box {
background-color: #abbaab;
opacity: 75%;
border-radius: 15px;
padding: 10px;
margin: 30px;
}